body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 100vw;
  height: 620px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100vw;
  height: 620px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100vw;
  height: 620px;
  backface-visibility: hidden;
}

.flip-card-front {

  color: black;
  z-index: 1;
}

.flip-card-back {
  
  color: black;
  transform: rotateY(180deg);
  z-index: 2;
  text-align:center;
}

li{
    text-decoration: none;
    font-family: helvetica;
    font-size:30px;
    list-style-type: none; 
    text-align: center;
  }
