body, html {
        height: 100%;
        scroll-behavior: smooth;
        background-color: lavenderblush;
        text-align: center;
        }
 section p{
         text-align: center;
         margin-left: 100px;
         margin-right: 100px;
         font-family: cursive;
        }
 section h2{
    font-family: fantasy;
        }
 header{
    background-color:lavenderblush;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    margin-top:0px;
    
        }
 header h1{
    margin-top:0px;
    margin-bottom: 0px;
       }

 nav{
    
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  nav li {
    float: right;
  }
  nav ul{
      margin: 0px;
      list-style-type: none; 
  }
  
  
  nav li a {
    display: inline-block;
    color: white;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  nav li a:hover{
      background-color: lightgrey;
      color:black;
  }
  
  footer{
      background-color: lightgoldenrodyellow;
      padding:2px;
      text-align: end;
      text-decoration: none;
     
  }
  footer li {
    display: inline;
    padding: 0px 5px; 
     }

     footer li a{
         text-decoration: none;
     }



  .parallax {
       background-image: url(images/ice_3.jpg);
       height: 70%; 
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
        }

 .flex-container {
    display: flex;
    justify-content: center;
    background-color: lavenderblush;
    }
  
  .flex-container > div {
    background-color: lavenderblush;
    width:300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  figure img {
    display: block;
    width: 100%;
    min-width:100px;
    max-width: 350px; 
    height: auto; 
    margin: auto; 
 }
 figcaption{
     font-family: fantasy;
     font-size: 30px;
 }

